html {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}

.information {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

.subheading {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: White;
}

.copyright {
  text-align: right;
  color: Gray;
}
